<div class="container">
	<% if flash[:notice] %>
	    <div class="flash">
		    <%= flash[:notice] %>
	    </div>
    <% end %>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>welcome to <span class="glyphicon glyphicon-book"></span>Bookers !!</h1>
			<p>in <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>,<br>
				you can share and exchenge your opinions, inpressions, and emotions<br>
			    about various books!
			</p>
			<%= link_to 'Log in', new_user_session_path, class:"btn btn-info btn-block" %>
			<%= link_to 'Sign up', new_user_registration_path, class:"btn btn-success btn-block" %>
		</div>
	</div>
</div>
